*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font: 14px/1.5 Georgia, serif;
}

@media (min-width: 600px){
    html{ font-size: 16px; }
}

@media (min-width: 1024px){
    html{ font-size: 18px; }
}

@media (min-width: 1600px){
    html{ font-size: 20px; }
}

body, table, form, select, option, input, textarea{
    font: inherit;
}

p, ul, ol{
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol > li > ol > li {
    list-style-type: lower-roman;
}

h1, h2, h3, h4, h5, h6{
    font-size: 1em;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

blockquote{
    padding: 1rem;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote .author:before {
    display: inline-block;
    padding-right: 0.5em;
}