@media (min-width: 600px){
    .mq-width::after{
        content: "Viewport width is larger than 600px";
        color: green;
    }
}

@media (min-height: 600px){
    .mq-height::after{
        content: "Viewport height is larger than 600px";
        color: green;
    }
}

@media (min-aspect-ration: 8/5){
    .mq-ar::after{
        content: "Aspect Ration is larger than 8/5";
        color: green;
    }
}