body{
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    height: 100vh;
}

footer{
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}

.site-content{
    flex: 1;
}