@media (max-width: 800px){
    header nav {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    } 
      
    header nav ul li {
        display: block;
        list-style-type: none;
    }
      
    header nav ul li {
        padding-top: 0.7em;
        padding-left: 2em;
    }
      
    .team-description ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      
    .team-description ul li img {
        width: 170px;
        height: 170px;
        margin: 2em;
    }
      
    .choose-us ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
      
    .choose-us li {
        flex: 0 0 25%;
        text-align: center;
        padding: 0 8em;
    }

    .blog-news ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
    }
      
    .blog-news ul .item {
        list-style: none outside;
        display: flex;
        text-align: center;
        margin: 1em;
        flex: 0 0 35%;
        box-shadow: 0 0.3rem 1rem 0.3rem rgba(0,0,0,0.3); 
    }

}

@media (max-width: 1100px){
    .team-description ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
      
    .team-description ul li img {
        width: 200px;
        height: 200px;
        margin: 0 5em;
    }

    .team-description ul li {
        margin-bottom: 2em;
    }

    .blog-news ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 4rem;
    }
      
    .blog-news ul .item {
        list-style: none outside;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1em;
        flex: 0 0 35%;
        box-shadow: 0 0.3rem 1rem 0.3rem rgba(0,0,0,0.3); 
    }
}
