html{
    font: 16px/1.5 Helvetica, sans-serif;
}

article{
    font: inherit;
    background: rgb(51, 102, 153);
    color: white;
    border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;

}

blockquote {
    border-left: rgb(221, 221, 221);
    font: italic;
}